<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>经世数家</title>
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script type="text/javascript" src="js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="js/time.js" ></script>
		<script type="text/javascript" src="js/main.js" ></script>
		<script type="text/javascript" src="js/echarts.min.js"></script>
		<script type="text/javascript" src="js/darkTheme.js"></script>
		<script type="text/javascript" src="js/echarts.function.js"></script>
		<script type="text/javascript" src="js/chinaMap/china.js"></script>
		<script type="text/javascript" src="js/countUp.js"></script>
	</head>

	<body>
		<div class="content">

			<nav class="nav">
				<div class="title">
					<div class="pre" data-index='5'>
						<img src="img/professionalOperating1/jiantou_zuo.gif"/>
					</div>
					<div class="text" id="title">专业运营</div>
					<div class="next" data-index='1'>
						<img src="img/professionalOperating1/jiantou_you.gif"/>
					</div>					
				</div>
				<div class="timebox">
					<div class="date"></div>
					<div class="time"></div>					
				</div>
			</nav>
			<div class="mainBody" id="main">
			</div>
		</div>

	</body>

</html>