<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>经世数家</title>
		<script type="text/javascript" src="js/jobAnalysis5.js"></script>
	</head>

	<body>
		<div class="box clearfix analysis" style="height: 960px;padding-top: 0px;">
			<ul id="majorUl" class="tab clearfix">
			</ul>
			<div class="left">
				<div class=""></div>
				<div class="wisClick clearfix subtitle" style="width: 620px;">
					<span class="wisPeopNumb" style="line-height: 40px;color: #fff;font-size: 24px;">累计毕业生数量</span>
					<ul class="peopleNumb clearfix" id='allGraduationNum' style="margin-top: 0px;margin-right: 20px;">
						<li class="peopleNumbLi" id='allGraduationNum0'>0</li>
						<li class="peopleNumbLi" id='allGraduationNum1'>0</li>
						<li class="comma">,</li>
						<li class="peopleNumbLi" id='allGraduationNum2'>0</li>
						<li class="peopleNumbLi" id='allGraduationNum3'>0</li>
						<li class="peopleNumbLi" id='allGraduationNum4'>0</li>
					</ul>
				</div>
				<div class="basicInfo clearfix" id="employment" style="height: 350px;"></div>
				<div class="wisdomEchars3 clearfix" style="width: 620px;padding-top: 10px;height: 370px;">
					<div id="salaryCompared" class="wisdomEchars5" style="width: 310px;height: 370px;"></div>
					<div id="graduateAbility" class="wisdomEchars5" style="width: 300px;height: 370px;padding-left: 10px;"></div>
				</div>
			</div>
			<div class="center">
				<div class="title subtitle">毕业生就业地图</div>
				<div class="wisdomEchars11" id="employmentMap"></div>
				<div id="noDataMsg" style="background-color:#1F2346;text-align:center;width: 620px;height: 410px;line-height: 400px;font-size: 30px;display: none">
					本专业方向暂无毕业生
				</div>
				<div class="wisdomEchars3" id="employmentStructure" style="width: 620px;"></div>
			</div>
			<div class="right">
				<div class="title subtitle">历年就业率</div>
				<div id="employmentRadio" class="analysisEchers2"></div>
				<div class="title subtitle" style="margin-top: 18px;">毕业生平均薪资跟踪</div>
				<div id="graduateSalary" class="analysisEchers3"></div>

			</div>

		</div>
	</body>

</html>