<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>经世数家</title>
		<script src="js/professionalOperating1.js"></script>
	</head>

	<body>
		<div class="box clearfix">
			<div class="left">
				<div class="proLeftTop">
					<div class="partnerSchools clearfix">
						<div class="icon">
							<img src="img/professionalOperating1/zyyy_hezuoyuanxiao.png" />
						</div>
						<div class="totalNumber">
							<p class="text">合作院校</p>
							<p id="d1-hezuoyuanxiao" class="numb">0</p>
						</div>
						<div class="each">
							<div class="undergraduate"><span>本科</span><i id="d1-benke">0</i></div>
							<div class="HigherVocational"><span>高职</span><i id="d1-gaozhi">0</i></div>
						</div>
					</div>
					<div class="schoolStudents" style="border-color: #37D534;">
						<div class="icon">
							<img src="img/professionalOperating1/zyyy_zaixiaoxuesheng.png" />
						</div>
						<div class="totalNumber">
							<p class="text">在校学生</p>
							<p id="d2-zaixiaoxuesheng" class="numb">0</p>
						</div>
						<div class="each" style="border-color: #37D534;">
							<div class="undergraduate"><span>本科</span><i id="d2-benke">0</i></div>
							<div class="HigherVocational"><span>高职</span><i id="d2-gaozhi">0</i></div>
						</div>
					</div>
				</div>
				<div class="numberOfJobs">
					<div class="title">
						<span>就业总人数</span>
						<ul id="d5-jiuyezongrenshu" class="peopleNumb clearfix" data-id="0">
							<li class="peopleNumbLi" id=d5-jiuyezongrenshu0>0</li>
							<li class="peopleNumbLi" id=d5-jiuyezongrenshu1>0</li>
							<li class="comma">,</li>
							<li class="peopleNumbLi" id=d5-jiuyezongrenshu2>0</li>
							<li class="peopleNumbLi" id=d5-jiuyezongrenshu3>0</li>
							<li class="peopleNumbLi" id=d5-jiuyezongrenshu4>0</li>
						</ul>
					</div>
					<div id="employmentEcharts" class="echars"></div>

				</div>
			</div>
			<div class="center">
				<div class="proEchars" id='map' height="1200px"></div>
				<div style="background-color:#191e46;width: 640px;height: 50px;text-align: right;color:#51DBBC">* 数据统计截止到 2018-05-31</div>
			</div>
			<div class="right">
				<div class="proRightTop">
					<div class="partnerSchools clearfix" style="border-color: #447AFD;">
						<div class="icon">
							<img src="img/professionalOperating1/zyyy_yunyingtuandui.png" />
						</div>
						<div class="totalNumber">
							<p class="text">运营团队</p>
							<p id="d3-yunyingtuandui" class="numb">0</p>
						</div>
						<div class="each" style="border-color: #447AFD;">
							<div class="undergraduate"><span>本科</span><i id="d3-benke">0</i></div>
							<div class="HigherVocational"><span>高职</span><i id="d3-gaozhi">0</i></div>
						</div>

					</div>
					<div class="schoolStudents" style="border-color: #FFAD04;">
						<div class="icon">
							<img src="img/professionalOperating1/zyyy_zhichengrenyuan.png" />
						</div>
						<div class="totalNumber">
							<p class="text">支撑人员</p>
							<p id="d4-zhichengrenyuan" class="numb">0</p>
						</div>
						<div class="eachP" style="border-color: #FFAD04;">
							<div class="development"><span>研发人员</span><i id="d4-yanfa">0</i></div>
							<div class="designer"><span>设计人员</span><i id="d4-sheji">0</i></div>
							<div class="implementation"><span>实施人员</span><i id="d4-shishi">0</i></div>							
						</div>
					</div>
				</div>
				<div class="industryBackground clearfix">
					<div class="title"><span>工程师行业背景</span></div>
					<div class="titleMax"><span>最大从业年限</span><i>32年</i></div>
					<div class="titleAve"><span>平均从业年限</span><i>10年</i></div>
					<div id="engineerBackgroundEcharts" class="indechaes"></div>
					    
					
				</div>
			</div>

		</div>
	</body>

</html>